body{
    background: darkgreen;
}
h2{
    text-align: center;
    font-style: italic;
    background: lavender;
}

button{
    width: 80px;
    background: darkcyan;
    color: lightsalmon;
    border-radius: 10px;
    transition: 2s;
}
button:hover{
    cursor: pointer;
    background: darkgoldenrod;
    color: bisque;
}
#one{
    margin-left: 35%;
}
#two{
    margin-left: 20%;
}

img{
    margin-left: 47%;
}
/* img{
    width: 200px;
} */